Practica.EF.MVC/Practica.EF.Data/bin/
Practica.EF.MVC/Practica.EF.Data/obj/
Practica.EF.MVC/Practica.EF.Entities/bin/
Practica.EF.MVC/Practica.EF.Entities/obj/
Practica.EF.MVC/Practica.EF.Logic/bin/
Practica.EF.MVC/Practica.EF.Logic/obj/
Practica.EF.MVC/Practica.EF.UI/bin/
Practica.EF.MVC/Practica.EF.UI/obj/
Practica.EF.MVC/Practica.EF.MVC/obj/
Practica.EF.MVC/Practica.EF.MVC/bin/
Practica.EF.MVC/Practica.EF.sln