@model List<Practica.EF.MVC.Models.DigimonView>

@{
    ViewBag.Title = "Digimon Page";
}

<h1>Lista de Digimones</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Nivel</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var digimon in Model)
        {
            <tr>
                <th scope="row">@digimon.nombre</th>
                <th>@digimon.level</th>
            </tr>
        }
    </tbody>
</table>